# <p style="font-family:JetBrains Mono; letter-spacing: 1px; color:#207d06; font-size:120%; text-align:left; border-bottom: 3px solid #207d06;">A PREDICTIVE NATURAL LANGUAGE PROCESSING MODEL </p>

## <p style="font-family:JetBrains Mono; letter-spacing: 1px; color:#8fca6b; text-align:left; border-bottom: 1px solid #207d06;">Lighthouse Labs, Mini-Project V: Identifying Duplicate Questions</p>
<p style="font-family:JetBrains Mono; letter-spacing: 1px; color:#8fca6b; font-size:110%; text-align:left;">By Jamie Dormaar, January 31, 2023.</p>

Over 100 million people visit Quora every month, so it's no surprise that many people ask similar (or the same) questions. Various questions with the same intent can cause people to spend extra time searching for the best answer to their question, and results in members answering multiple versions of the same question. Quora uses random forest to identify duplicated questions to provide a better experience to active seekers and writers, and offer more value to both of these groups in the long term.
Follow the steps outlined below to build the appropriate classifier model. 

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">TABLE OF CONTENTS</p>
- [DOWNLOAD DATA](#download-data)
- [EXPLORATION](#exploration)
- [DATA CLEANING](#data-cleaning)
  - [CUSTOM MODULE](#custom-module)
- [PREPROCESS DATA](#preprocess-data)
- [FEATURE ENGINEERING](#feature-engineering)
  - [NLP REPRESENTATIONS](#nlp-representations)
    - [BOW](#bow)
    - [TF-IDF](#tf-idf)
    - [WORD2VEC](#word2vec)
    - [SENTIMENT ANALYSIS](#sentiment-analysis)
- [MODELING](#modeling)
  - [SPLITTING DATA](#splitting-data)
  - [MODEL TRAINING](#model-training)
  - [MODEL EVALUATION](#model-evaluation)
  - [TUNE HYPERPARAMETERS](#tune-hyperparameters)
- [RESULTS](#results)
- [DISCUSSION](#discussion)

By the end of this project you should have **a presentation that describes the model you built** and its **performance**. 
<!--
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#207d06;">DOWNLOAD DATA</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#207d06;">EXPLORATION</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#207d06;">DATA CLEANING</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#8fca6b;">CUSTOM MODULE</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#207d06;">PREPROCESS DATA</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#207d06;">FEATURE ENGINEERING</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#8fca6b;">NLP REPRESENTATIONS</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#c8d43e;">BOW</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#c8d43e;">TF-IDF</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#c8d43e;">WORD2VEC</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#c8d43e;">SENTIMENT ANALYSIS</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#207d06;">MODELING</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#8fca6b;">SPLITTING DATA</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#8fca6b;">MODEL TRAINING</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#8fca6b;">MODEL EVALUATION</p>
<p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 0px; color:#8fca6b;">TUNE HYPERPARAMETERS</p>

Doc Headers:
## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">DOWNLOAD DATA</p>
## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">EXPLORATION</p>
## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">DATA CLEANING</p>
### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">CUSTOM MODULE</p>
## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">PREPROCESS DATA</p>
## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">FEATURE ENGINEERING</p>
### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">NLP REPRESENTATIONS</p>
#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">BOW</p>
#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">TF-IDF</p>
#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">WORD2VEC</p>
#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">SENTIMENT ANALYSIS</p>
## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">MODELING</p>
### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">SPLITTING DATA</p>
### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">MODEL TRAINING</p>
### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">MODEL EVALUATION</p>
### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">TUNE HYPERPARAMETERS</p>
-->

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">DOWNLOAD DATA</p>

In [188]:
import pandas as pd
data = pd.read_csv("../data/source materials/train.csv")
df = data.copy()

>Note: _There is no designated test.csv file. The train.csv file is the entire dataset. Part of the data in the train.csv file should be set aside to act as the final testing data._

##### SAVE: raw data

In [189]:
data.to_csv('../data/df_raw.csv', index=False)
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">EXPLORATION</p>

In [190]:
df.shape

(404290, 6)

In [191]:
q_dups = df[df['is_duplicate'] > 0].copy()
q_difs = df[df['is_duplicate']== 0].copy()

q_dups.reset_index(drop=True, inplace=True)
q_difs.reset_index(drop=True, inplace=True)

display(q_dups[['question1', 'question2']].head())
display(q_difs[['question1', 'question2']].head())

,question1,question2
0,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan..."
1,How can I be a good geologist?,What should I do to be a great geologist?
2,How do I read and find my YouTube comments?,How can I see all my Youtube comments?
3,What can make Physics easy to learn?,How can you make physics easy to learn?
4,What was your first sexual experience like?,What was your first sexual experience?

,question1,question2
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?

In [192]:

# tag = ''   # For save id if needed:
tag = '_q_difs'
# tag = '_q_dups'

# df = q_dups.copy()
df = q_difs.copy()

df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [193]:
# df[df['qid1']==15]
n_q1 = df['question1'].nunique()
n_q2 = df['question2'].nunique()

print(f'question1 unique entries: {n_q1}\n        Percent of total: {round(n_q1/df.shape[0], 2)}\n')
print(f'question2 unique entries: {n_q2}\n        Percent of total: {round(n_q2/df.shape[0], 2)}\n')

question1 unique entries: 212770
        Percent of total: 0.83

question2 unique entries: 221130
        Percent of total: 0.87

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">DATA CLEANING</p>

### Cleaning

- Tokenization
- Stopwords cleaning
- Removing punctuation
- Normalizing
- Stemming

In [194]:
import numpy as np
import pandas as pd
import re # regex
import nltk

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">CUSTOM MODULE</p>


The following functions are contained within a custom module created for modular reuse.

>```py
>import numpy as np
>import pandas as pd
>import re # regex
>import string
>import nltk
>from nltk.tokenize import word_tokenize
>from nltk.corpus import stopwords
>from nltk.stem.porter import PorterStemmer
>
>def tokenize(text):
>    tokens = word_tokenize(text)
>    return tokens
>
>def alphabetic_filter(stripped):
>    words = [word for word in stripped if word.isalpha()]
>    return words
>
>def stemming(words):
>    ps = PorterStemmer()
>    stemmed = [ps.stem(word) for word in words]
>    return stemmed
>
>def remove_stopwords(words):
>    stop_words = set(stopwords.words('english'))
>    clean_text = [w for w in words if not w in stop_words]
>    return clean_text
>
>def preprocess(text, output_list=True):
>    text = tokenize(text)
>    text = alphabetic_filter(text)
>    text = stemming(text)
>    text = remove_stopwords(text)
>    if output_list==False:
>        text = " ".join([word for word in text])
>    return text
>
>def text_cleaning_regex(features):
>    """function takes in an iterable of string data types, and using
>    regex module successively:
>        - Removes all the special characters.
>        - Removes all single characters.
>        - Removes single characters from the start.
>        - Substitutes multiple spaces with single space.
>        - Converts all text to lowercase.
>
>    Args:
>        features (iterable): an array or list. Example: df['col']
>    """
>    processed_features = []
>    for sentence in range(0, len(features)):
>        # Remove all the special characters
>        alt_text = re.sub(r'\W', ' ', str(features[sentence]))
>
>        # remove all single characters
>        alt_text= re.sub(r'\s+[a-zA-Z]\s+', ' ', alt_text)
>
>        # Remove single characters from the start
>        alt_text = re.sub(r'\^[a-zA-Z]\s+', ' ', alt_text)
>
>        # Substituting multiple spaces with single space
>        alt_text = re.sub(r'\s+', ' ', alt_text, flags=re.I)
>
>        # Removing prefixed 'b'
>        alt_text = re.sub(r'^b\s+', '', alt_text)
>
>        # Converting to Lowercase
>        alt_text = alt_text.lower()
>        processed_features.append(alt_text)
>
>    print(f'''
>    Removed special characters:
>    Removed single characters
>    Standardization to lowercase\n''')
>    return processed_features
>```

Module is accessed just like any usual setup importing the necessary packages.  For example:
>```py
>import nlp_data_prep as nlp
>nlp.text_cleaning_regex(...)
>```

[W9D2m4](../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D2m4_kaggle_sentiment-analysis-airline-tweets.ipynb)

In [195]:
import nlp_data_prep as nlp

In [196]:
q1 = df['question1']
q2 = df['question2']
display(df.head())

# CLEAN: Question1 Column
df['question1'] = nlp.text_cleaning_regex(q1)
display(df.head())

# CLEAN: Question2 Column
df['question2'] = nlp.text_cleaning_regex(q2)
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

    Removed special characters:
    Removed single characters:
    Standardization to lowercase:

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,what is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,what is the story of kohinoor koh noor diamond,What would happen if the Indian government sto...,0
2,2,5,6,how can increase the speed of my internet conn...,How can Internet speed be increased by hacking...,0
3,3,7,8,why am mentally very lonely how can solve it,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,which one dissolve in water quikly sugar salt ...,Which fish would survive in salt water?,0

    Removed special characters:
    Removed single characters:
    Standardization to lowercase:

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0
1,1,3,4,what is the story of kohinoor koh noor diamond,what would happen if the indian government sto...,0
2,2,5,6,how can increase the speed of my internet conn...,how can internet speed be increased by hacking...,0
3,3,7,8,why am mentally very lonely how can solve it,find the remainder when math 23 24 math is div...,0
4,4,9,10,which one dissolve in water quikly sugar salt ...,which fish would survive in salt water,0

##### SAVE: clean data

In [197]:
# SAVE: DataFrame stages:
df_clean = df.copy()
df_clean.to_csv(f'../data/df_clean{tag}.csv', index=False)

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">PREPROCESS DATA</p>

In [198]:
df['question1'] = df['question1'].apply(lambda x: nlp.preprocess(x, output_list=False))
nlp.preprocess_report('question1')
display(df.head())

df['question2'] = df['question2'].apply(lambda x: nlp.preprocess(x, output_list=False))
nlp.preprocess_report('question2')
display(df.head())

question1:
    Tokenized text data:
    Stemmed root words:
    Removed non-alphabetic:
    Removed English stopwords:

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,step step guid invest share market india,what is the step by step guide to invest in sh...,0
1,1,3,4,stori kohinoor koh noor diamond,what would happen if the indian government sto...,0
2,2,5,6,increas speed internet connect use vpn,how can internet speed be increased by hacking...,0
3,3,7,8,whi mental veri lone solv,find the remainder when math 23 24 math is div...,0
4,4,9,10,one dissolv water quikli sugar salt methan car...,which fish would survive in salt water,0

question2:
    Tokenized text data:
    Stemmed root words:
    Removed non-alphabetic:
    Removed English stopwords:

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,step step guid invest share market india,step step guid invest share market,0
1,1,3,4,stori kohinoor koh noor diamond,would happen indian govern stole kohinoor koh ...,0
2,2,5,6,increas speed internet connect use vpn,internet speed increas hack dn,0
3,3,7,8,whi mental veri lone solv,find remaind math math divid,0
4,4,9,10,one dissolv water quikli sugar salt methan car...,fish would surviv salt water,0

In [199]:
# Add two new columns with the text features in list format:
df['q1_list'] = df['question1'].apply(lambda x: nlp.preprocess(x, output_list=True))
display(df.head())

df['q2_list'] = df['question2'].apply(lambda x: nlp.preprocess(x, output_list=True))
display(df.head())

,id,qid1,qid2,question1,question2,is_duplicate,q1_list
0,0,1,2,step step guid invest share market india,step step guid invest share market,0,"[step, step, guid, invest, share, market, india]"
1,1,3,4,stori kohinoor koh noor diamond,would happen indian govern stole kohinoor koh ...,0,"[stori, kohinoor, koh, noor, diamond]"
2,2,5,6,increas speed internet connect use vpn,internet speed increas hack dn,0,"[increa, speed, internet, connect, use, vpn]"
3,3,7,8,whi mental veri lone solv,find remaind math math divid,0,"[whi, mental, veri, lone, solv]"
4,4,9,10,one dissolv water quikli sugar salt methan car...,fish would surviv salt water,0,"[one, dissolv, water, quikli, sugar, salt, met..."

,id,qid1,qid2,question1,question2,is_duplicate,q1_list,q2_list
0,0,1,2,step step guid invest share market india,step step guid invest share market,0,"[step, step, guid, invest, share, market, india]","[step, step, guid, invest, share, market]"
1,1,3,4,stori kohinoor koh noor diamond,would happen indian govern stole kohinoor koh ...,0,"[stori, kohinoor, koh, noor, diamond]","[would, happen, indian, govern, stole, kohinoo..."
2,2,5,6,increas speed internet connect use vpn,internet speed increas hack dn,0,"[increa, speed, internet, connect, use, vpn]","[internet, speed, increa, hack, dn]"
3,3,7,8,whi mental veri lone solv,find remaind math math divid,0,"[whi, mental, veri, lone, solv]","[find, remaind, math, math, divid]"
4,4,9,10,one dissolv water quikli sugar salt methan car...,fish would surviv salt water,0,"[one, dissolv, water, quikli, sugar, salt, met...","[fish, would, surviv, salt, water]"

[W9D1m4]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m4_data_prep_NLP.ipynb)  

[W9D1m5]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m5_NLP_data_preparation_exercise.ipynb)

##### SAVE: preprocessed data

In [200]:
df_preprocessed = df.copy()
df.to_csv(f'../data/df_preprocessed{tag}.csv', index=False)

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">FEATURE ENGINEERING</p>

### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">NLP REPRESENTATIONS</p>

<!--
Feature Engineering

- tf-idf
- word2vec
- word count
- number of the same words in both questions
- ....

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>
-->

In [201]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_list,q2_list
0,0,1,2,step step guid invest share market india,step step guid invest share market,0,"[step, step, guid, invest, share, market, india]","[step, step, guid, invest, share, market]"
1,1,3,4,stori kohinoor koh noor diamond,would happen indian govern stole kohinoor koh ...,0,"[stori, kohinoor, koh, noor, diamond]","[would, happen, indian, govern, stole, kohinoo..."
2,2,5,6,increas speed internet connect use vpn,internet speed increas hack dn,0,"[increa, speed, internet, connect, use, vpn]","[internet, speed, increa, hack, dn]"
3,3,7,8,whi mental veri lone solv,find remaind math math divid,0,"[whi, mental, veri, lone, solv]","[find, remaind, math, math, divid]"
4,4,9,10,one dissolv water quikli sugar salt methan car...,fish would surviv salt water,0,"[one, dissolv, water, quikli, sugar, salt, met...","[fish, would, surviv, salt, water]"

In [202]:
# Convert to list
df_clean_question1 = df_clean.question1.values.tolist()
df_clean_question2 = df_clean.question2.values.tolist()
question1 = df['question1'].values.tolist()
question2 = df['question2'].values.tolist()
q1_list = df['q1_list'].values.tolist()
q2_list = df['q2_list'].values.tolist()
question1[:5]
q1_list[:5]

[['step', 'step', 'guid', 'invest', 'share', 'market', 'india'],
 ['stori', 'kohinoor', 'koh', 'noor', 'diamond'],
 ['increa', 'speed', 'internet', 'connect', 'use', 'vpn'],
 ['whi', 'mental', 'veri', 'lone', 'solv'],
 ['one',
  'dissolv',
  'water',
  'quikli',
  'sugar',
  'salt',
  'methan',
  'carbon',
  'di',
  'oxid']]

In [203]:
from nltk.stem import WordNetLemmatizer

def lemmatize_verbs(text):
    """Lemmatize verbs in list of tokenized text"""
    lemmatizer = WordNetLemmatizer()
    lemmas = []
    for word in text:
        lemma = lemmatizer.lemmatize(word, pos='v')
        lemmas.append(lemma)
    return lemmas

In [204]:
lemma_df_clean_question1 = lemmatize_verbs(df_clean_question1)
lemma_df_clean_question2 = lemmatize_verbs(df_clean_question2)
lemma_question1 = lemmatize_verbs(question1)
lemma_question2 = lemmatize_verbs(question2)

In [205]:
lemma_df_clean_question1[:5]

['what is the step by step guide to invest in share market in india ',
 'what is the story of kohinoor koh noor diamond ',
 'how can increase the speed of my internet connection while using vpn ',
 'why am mentally very lonely how can solve it ',
 'which one dissolve in water quikly sugar salt methane and carbon di oxide ']

In [206]:
lemma_question1[:5]

['step step guid invest share market india',
 'stori kohinoor koh noor diamond',
 'increas speed internet connect use vpn',
 'whi mental veri lone solv',
 'one dissolv water quikli sugar salt methan carbon di oxid']

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">BAG OF WORDS (BOW)</p>

In [207]:
from sklearn.feature_extraction.text import CountVectorizer # BOW

[W9D1m12]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m12_NLP_representations_exercise.ipynb')

* instantiate [CountVectorizer()](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)

In [208]:
cv = CountVectorizer()

* use fit_transform method of CountVectorizer to 'docs' and store the result in 'word_count_vector'

In [209]:
word_count_vector = cv.fit_transform(q1_list[0])
word_count_vector

<7x6 sparse matrix of type '<class 'numpy.int64'>'
	with 7 stored elements in Compressed Sparse Row format>

In [210]:
print(type(word_count_vector))
# scipy.sparse._csr.csr_matrix
word_count_vector.toarray()

<class 'scipy.sparse._csr.csr_matrix'>

array([[0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0]])

In [211]:
feature_names = cv.get_feature_names_out()

In [212]:
X = pd.DataFrame(word_count_vector.toarray(), columns=feature_names)
display(X)
X.sum().to_dict()

   guid  india  invest  market  share  step
0     0      0       0       0      0     1
1     0      0       0       0      0     1
2     1      0       0       0      0     0
3     0      0       1       0      0     0
4     0      0       0       0      1     0
5     0      0       0       1      0     0
6     0      1       0       0      0     0

{'guid': 1, 'india': 1, 'invest': 1, 'market': 1, 'share': 1, 'step': 2}

In [ ]:
def bow_vector_matrix(text, cv):
    bow_matrix = cv.fit_transform(text)
    X = pd.DataFrame(bow_matrix.toarray(), columns = cv.get_feature_names_out())
    # display(X)
    return X.sum().to_dict()

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">PROCESS UNIQUE QUESTION PAIRS</p>

In [213]:
# STEP 1: 
# Uncommment - rerun notebook to cell above
# df = q_difs.copy()

# Paired questions in single column:
df_str = df[['id',	'qid1',	'qid2',	'question1',	'question2',	'is_duplicate']].copy()
df_list = df[['id',	'qid1',	'qid2',	'q1_list',	'q2_list', 'is_duplicate']].copy()
df_str['q_pairs'] = df['question1'] + ' ' + df['question2']
df_list['q_pairs'] = df['q1_list'] + df['q2_list']
display(df_str.head())
display(df_list.head())

# Save to new variable in kernel:
df_str_difs = df_str.copy()
df_list_difs = df_list.copy()

# Save data:
df_str_difs.to_csv('../data/df_str_diff_questions.csv', index=False)
df_list_difs.to_csv('../data/df_list_diff_questions.csv', index=False)

,id,qid1,qid2,question1,question2,is_duplicate,q_pairs
0,0,1,2,step step guid invest share market india,step step guid invest share market,0,step step guid invest share market india step ...
1,1,3,4,stori kohinoor koh noor diamond,would happen indian govern stole kohinoor koh ...,0,stori kohinoor koh noor diamond would happen i...
2,2,5,6,increas speed internet connect use vpn,internet speed increas hack dn,0,increas speed internet connect use vpn interne...
3,3,7,8,whi mental veri lone solv,find remaind math math divid,0,whi mental veri lone solv find remaind math ma...
4,4,9,10,one dissolv water quikli sugar salt methan car...,fish would surviv salt water,0,one dissolv water quikli sugar salt methan car...

,id,qid1,qid2,q1_list,q2_list,is_duplicate,q_pairs
0,0,1,2,"[step, step, guid, invest, share, market, india]","[step, step, guid, invest, share, market]",0,"[step, step, guid, invest, share, market, indi..."
1,1,3,4,"[stori, kohinoor, koh, noor, diamond]","[would, happen, indian, govern, stole, kohinoo...",0,"[stori, kohinoor, koh, noor, diamond, would, h..."
2,2,5,6,"[increa, speed, internet, connect, use, vpn]","[internet, speed, increa, hack, dn]",0,"[increa, speed, internet, connect, use, vpn, i..."
3,3,7,8,"[whi, mental, veri, lone, solv]","[find, remaind, math, math, divid]",0,"[whi, mental, veri, lone, solv, find, remaind,..."
4,4,9,10,"[one, dissolv, water, quikli, sugar, salt, met...","[fish, would, surviv, salt, water]",0,"[one, dissolv, water, quikli, sugar, salt, met..."

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#a-predictive-natural-language-processing-model) / [TOC](#table-of-contents)</p>

#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">PROCESS DUPLICATE QUESTION PAIRS</p>

In [187]:

# STEP 1: 
# Uncommment - rerun notebook to cell above
# df = q_dups.copy()

# Paired questions in single column:
df_str = df[['id',	'qid1',	'qid2',	'question1',	'question2',	'is_duplicate']].copy()
df_list = df[['id',	'qid1',	'qid2',	'q1_list',	'q2_list', 'is_duplicate']].copy()
df_str['q_pairs'] = df['question1'] + ' ' + df['question2']
df_list['q_pairs'] = df['q1_list'] + df['q2_list']
display(df_str.head())
display(df_list.head())

# Save to new variable in kernel:
df_str_dups = df_str.copy()
df_list_dups = df_list.copy()

# Save data:
df_str_dups.to_csv('../data/df_str_dupl_questions.csv', index=False)
df_list_dups.to_csv('../data/df_list_dupl_questions.csv', index=False)

,id,qid1,qid2,question1,question2,is_duplicate,q_pairs
0,5,11,12,astrolog capricorn sun cap moon cap rise doe say,tripl capricorn sun moon ascend capricorn doe ...,1,astrolog capricorn sun cap moon cap rise doe s...
1,7,15,16,good geologist,great geologist,1,good geologist great geologist
2,11,23,24,read find youtub comment,see youtub comment,1,read find youtub comment see youtub comment
3,12,25,26,make physic easi learn,make physic easi learn,1,make physic easi learn make physic easi learn
4,13,27,28,wa first sexual experi like,wa first sexual experi,1,wa first sexual experi like wa first sexual ex...

,id,qid1,qid2,q1_list,q2_list,is_duplicate,q_pairs
0,5,11,12,"[astrolog, capricorn, sun, cap, moon, cap, ris...","[tripl, capricorn, sun, moon, ascend, capricor...",1,"[astrolog, capricorn, sun, cap, moon, cap, ris..."
1,7,15,16,"[good, geologist]","[great, geologist]",1,"[good, geologist, great, geologist]"
2,11,23,24,"[read, find, youtub, comment]","[see, youtub, comment]",1,"[read, find, youtub, comment, see, youtub, com..."
3,12,25,26,"[make, physic, easi, learn]","[make, physic, easi, learn]",1,"[make, physic, easi, learn, make, physic, easi..."
4,13,27,28,"[wa, first, sexual, experi, like]","[wa, first, sexual, experi]",1,"[wa, first, sexual, experi, like, wa, first, s..."

In [215]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [224]:
def tfidf_vector_matrix(text, vect):
    tfidf_matrix = vect.fit_transform(text)
    X = pd.DataFrame(tfidf_matrix.toarray(), columns = vect.get_feature_names_out())
    display(X)
    return X.sum().to_dict()

In [225]:
tfidf_vector_matrix(df_list_difs['q_pairs'][0], vect)

    guid  india  invest  market  share  step
0    0.0    0.0     0.0     0.0    0.0   1.0
1    0.0    0.0     0.0     0.0    0.0   1.0
2    1.0    0.0     0.0     0.0    0.0   0.0
3    0.0    0.0     1.0     0.0    0.0   0.0
4    0.0    0.0     0.0     0.0    1.0   0.0
5    0.0    0.0     0.0     1.0    0.0   0.0
6    0.0    1.0     0.0     0.0    0.0   0.0
7    0.0    0.0     0.0     0.0    0.0   1.0
8    0.0    0.0     0.0     0.0    0.0   1.0
9    1.0    0.0     0.0     0.0    0.0   0.0
10   0.0    0.0     1.0     0.0    0.0   0.0
11   0.0    0.0     0.0     0.0    1.0   0.0
12   0.0    0.0     0.0     1.0    0.0   0.0

{'guid': 2.0,
 'india': 1.0,
 'invest': 2.0,
 'market': 2.0,
 'share': 2.0,
 'step': 4.0}

In [227]:
df_str_difs = list(df_str_difs['q_pairs'])

for q in df_str_difs[:5]:
  q_dict_list = []
  X = tfidf_vector_matrix(df_list_difs['q_pairs'][q], vect)
  q_dict_list.append(X.sum().to_dict())

q_dict_list

TypeError: list indices must be integers or slices, not str

In [220]:
input_ = df_list_difs['q_pairs'][0]
# input_ = df_str_dups['q_pairs']



vect = TfidfVectorizer(strip_accents = 'ascii')
X = vect.fit_transform(input)

TypeError: 'method' object is not iterable

In [ ]:
dict['id'][i]['qid1'] = df_preprocessed[qid1[i]]
dict['id'][i]['q1_list'].append(df_preprocessed[q1_list_id[i]])
dict['id'][i]['q1_list'].append(df_preprocessed[q1_list_id[i]])

In [ ]:
df

   guid  india  invest  market  share  step
0     0      0       0       0      0     1
1     0      0       0       0      0     1
2     1      0       0       0      0     0
3     0      0       1       0      0     0
4     0      0       0       0      1     0
5     0      0       0       1      0     0
6     0      1       0       0      0     0

In [ ]:
df = df_preprocessed.copy()
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_list,q2_list
0,0,1,2,step step guid invest share market india,step step guid invest share market,0,"[step, step, guid, invest, share, market, india]","[step, step, guid, invest, share, market]"
1,1,3,4,stori kohinoor koh noor diamond,would happen indian govern stole kohinoor koh ...,0,"[stori, kohinoor, koh, noor, diamond]","[would, happen, indian, govern, stole, kohinoo..."
2,2,5,6,increa speed internet connect use vpn,internet speed increa hack dn,0,"[increa, speed, internet, connect, use, vpn]","[internet, speed, increa, hack, dn]"
3,3,7,8,whi mental veri lone solv,find remaind math math divid,0,"[whi, mental, veri, lone, solv]","[find, remaind, math, math, divid]"
4,4,9,10,one dissolv water quikli sugar salt methan car...,fish would surviv salt water,0,"[one, dissolv, water, quikli, sugar, salt, met...","[fish, would, surviv, salt, water]"

In [ ]:
qid1[0]
print(qid1[0])
print(q1_list[0])
print(bow_vector_matrix[q1_list[0]])
print(qid2[0])
print(q2_list[0])
print(bow_vector_matrix[q2_list[0]])

1
['step', 'step', 'guid', 'invest', 'share', 'market', 'india']

TypeError: 'function' object is not subscriptable

In [ ]:
# Convert to list
qid1      = list(df.qid1)
qid2      = list(df.qid2)
question1 = list(df.question1)
question2 = list(df.question2)
q1_list   = list(df.q1_list)
q2_list   = list(df.q2_list)

my_dict = {}
# for i in range(len(qid1)):
for i in range(5):
    q1_vector_count = bow_vector_matrix(q1_list[i], cv)
    q2_vector_count = bow_vector_matrix(q2_list[i], cv)
    id_num = dict[i]
    id_num['qid1']             = qid1[i]
    id_num['q1_list']          = q1_list[i]
    id_num['q1_vector_count']  = q1_vector_count
    id_num['qid2']             = qid2[i]
    id_num['q2_list']          = q2_list[i]
    id_num['q2_vector_count']  = q2_vector_count

NameError: name 'df' is not defined

In [ ]:
dict

dict

In [ ]:
dict = {               # List Index number 0
            'qid1':    #  = df.qid1[i]
          , 'q1_list': []
          , 'q1_vector_count': {}
          , 'qid2': 
          , 'q2_list': []          # dict['id'][i]['qid1'] = df.qid1[i]
          , 'q2_vector_count': {}     # dict['id'][i]['qid1'] = df.qid1[i]
        },
        {               # List Index number 1
            'qid1': {
                1: {
                    'q1_list': [], 
                    'q1_vector_count': {}
                }

In [ ]:
bow_vector_matrix(q1_list_1d[0], cv)

   guid  india  invest  market  share  step
0     0      0       0       0      0     1
1     0      0       0       0      0     1
2     1      0       0       0      0     0
3     0      0       1       0      0     0
4     0      0       0       0      1     0
5     0      0       0       1      0     0
6     0      1       0       0      0     0

{'guid': 1, 'india': 1, 'invest': 1, 'market': 1, 'share': 1, 'step': 2}

In [ ]:
for i, list in enumerate(q1_list_1d[:5]):
    box = []
    bow_vector_matrix()

[W9D1m8L]('../../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1L_NLP-Pre-Processing_Vectorizing.ipynb')
[W9D1m8L]('../../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1L_NLP-Pre-Processing_Vectorizing.ipynb')

In [ ]:
# Apply BOW vectorizer to series of text and return df results


#example
ex_text = pd.Series(["The movie scary", " Tenet is a great movie", "Last movie I saw was in March"])
ex_text

In [ ]:
create_doc_term_matrix(ex_text, vect)

In [ ]:
vectorizer_input = messages['text_nostop'].apply(lambda x: " ".join(x) )
vectorizer_input

In [ ]:
X = vect.fit_transform(vectorizer_input)
type(X)

In [ ]:
X.toarray()

In [ ]:
#function that was defined earlier to view BoW as a DataFrame
create_doc_term_matrix(vectorizer_input,CountVectorizer())

[W9D1m8]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m8_representations_bag_of_words.ipynb)

In [ ]:
## 1. Bag of Words Model 

docs = ["SUPERB, I AM IN LOVE IN THIS PHONE", "I hate this phone"]

words = list(set([word for doc in docs for word in doc.lower().split()]))
vectors = []
for doc in docs:
    vectors.append([1 if word in doc.lower().split() else 0 for word in words])
    
print("vocabulary: ", words)   
print("vectors: ", vectors)

In [ ]:
## 2. Word Counts with CountVectorizer(scikit-learn)

from sklearn.feature_extraction.text import CountVectorizer
# list of documents
docs = ['SUPERB, I AM IN LOVE IN THIS PHONE', 'I hate this phone']
# create the transform
vectorizer = CountVectorizer()
# tokenize and build vocab
vectorizer.fit(docs)
print('vocabulary: ', vectorizer.vocabulary_)
# encode document
vector = vectorizer.transform(docs)
# summarize encoded vector
print('shape: ', vector.shape)
print('vectors: \n', vector.toarray())

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">TF-IDF</p>

[W9D1m12]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m12_NLP_representations_exercise.ipynb')

* instantiate [TfidfTransformer()](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html) with the following parameters: 
    * smooth_idf = True
    * use_idf = True

In [ ]:
tfidf = TfidfTransformer(use_idf = True, smooth_idf = True)

In [ ]:
tf_idf_data = tfidf.fit_transform(word_count_vector).toarray()
tf_idf_data

[W9D1m8]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m8_representations_bag_of_words.ipynb)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

create_doc_term_matrix(ex_text,TfidfVectorizer(binary=True))

In [ ]:
create_doc_term_matrix(ex_text,vect)
messages.head()

In [ ]:
# Fit a basic TFIDF Vectorizer and view the results
tfidf_vect = TfidfVectorizer()
X_tfidf = tfidf_vect.fit_transform(vectorizer_input)
type(X_tfidf)

In [ ]:
X_tfidf.toarray()

In [ ]:
#function that was defined earlier to view TF-IDF result as a DataFrame
create_doc_term_matrix(vectorizer_input,TfidfVectorizer())

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">WORD2VEC</p>

In [ ]:
import gensim

# Create CBoW model
#size: output vector size
#window: size of window for surrounding words
#min_count: ignores all words that appear less than min_count times
Model_CBoW = gensim.models.Word2Vec(messages['text_tokenized'], vector_size = 100, window = 5, min_count = 1)
Model_CBoW.train

#Vector represenation of the word 'king'
Model_CBoW.wv['king']

In [ ]:
# Find the most similar words to "early" based on word vectors from our trained model
Model_CBoW.wv.most_similar('want')

In [ ]:
# Create Skip Gram model (notice sg parameter)
Model_SG = gensim.models.Word2Vec(messages['text_tokenized'], vector_size = 100, window = 3, min_count = 2, sg = 1)
  
#Vector represenation of the word 'king'
Model_SG.wv['king'][:12]

In [ ]:
# Find the most similar words to "early" based on word vectors from our trained model
Model_SG.wv.most_similar('want')

#### Pre-trained word2vec models

There are also pre-trained word2vec models. For example, [`word2vec-google-news-300`](https://code.google.com/archive/p/word2vec/) is trained on a Google News dataset consisting of about 100 billion words. The model consists of 300-dimensional vectors for 3 million words and phrases.

In [ ]:
import gensim.downloader as api

google_news_300 = api.load('word2vec-google-news-300')
google_news_300['king']

In [ ]:
google_news_300.most_similar('now')

[W9D1m10]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m10_word2vec_from_google.ipynb)

In [ ]:
import gensim
# import 

# Load Google's pre-trained Word2Vec model.
# model = gensim.models.Word2Vec.KeyedVectors.load_word2vec_format('../data/GoogleNews-vectors-negative300.bin', binary=True)  
model = gensim.models.KeyedVectors.load_word2vec_format('../data/GoogleNews-vectors-negative300.bin', binary=True)  
# model = KeyedVectors.load_word2vec_format('../data/GoogleNews-vectors-negative300.bin', binary=True)  
vector = model['easy']
# see the shape of the vector (300,)
vector.shape

In [ ]:
model.most_similar("nice")

In [ ]:
model.similarity("nice", "good")

In [ ]:
# Interesting
model.similarity("bad","good")

In [ ]:
# king - queen = man - woman
model.most_similar(positive=['woman', 'king'], negative=['man'])

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

#### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#c8d43e; font-size:100%; text-align:left;padding: 0px; border-bottom: 1px solid #c8d43e;">SENTIMENT ANALYSIS</p>

[W9D2m2](../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D2m2_sentiment_analysis.ipynb)

- [refrences](https://www.datacamp.com/tutorial/simplifying-sentiment-analysis-python)

In [ ]:


# python -m nltk.downloader all
# Load and prepare the dataset
import nltk
from nltk.corpus import movie_reviews
import random

# I think this is a ternary nested for loop in a for loop:
documents = [
  (list(movie_reviews.words(fileid)), category)
              for category in movie_reviews.categories()
              for fileid in movie_reviews.fileids(category)]

random.shuffle(documents)

# Define the feature extractor

feature_extractor = nltk.FreqDist(w.lower() for w in movie_reviews.words())
word_features = list(feature_extractor)[:2000]


def document_features(document):
    document_words = set(document)
    features = {}
    for word in word_features:
        features['contains({})'.format(word)] = (word in document_words)
    return features

# Train Naive Bayes classifier
featuresets = [(document_features(d), c) for (d,c) in documents]
train_set, test_set = featuresets[100:], featuresets[:100]
classifier = nltk.NaiveBayesClassifier.train(train_set)

# Test the classifier
print(nltk.classify.accuracy(classifier, test_set))

# Show the most important features as interpreted by Naive Bayes
classifier.show_most_informative_features(5)

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">MODELING</p>


Different modeling techniques can be used:

- logistic regression
- XGBoost
- LSTMs
- etc

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">SPLITTING DATA</p>

[W9D2m4](../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D2m4_kaggle_sentiment-analysis-airline-tweets.ipynb)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                          clean_text
                                        , labels
                                        , test_size = 0.2
                                        , random_state = 0
                                    )

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">MODEL TRAINING</p>

The sklearn.ensemble module contains the RandomForestClassifier class that can be used to train the machine learning model using the random forest algorithm.

In [ ]:
import nlp_data_prep as nlp

clean_text = nlp.text_cleaning_regex(features)
clean_text[:6]

In [ ]:
vectorize = TfidfVectorizer (
      max_features = 2500
    , min_df = 7
    , max_df = 0.8
    , stop_words = stopwords.words('english')
)

In [ ]:
# Parameter Optimization:
TfidfVectorizer.set_params(self=vectorize)







????

In [ ]:
# Transform features with vectorizer. 
clean_text = vectorize.fit_transform(clean_text).toarray()
clean_text.shape

In [ ]:
# Import train_test_split from sklearn and split the data.
from sklearn.ensemble import RandomForestClassifier as rfc

text_classifier = rfc(
      n_estimators = 200
    , random_state = 0
)
text_classifier.fit(X_train, y_train)

Making predictions and evaluating the Model

In [ ]:
predicted_X_test = text_classifier.predict(X_test)

To find the values for these metrics, we can use utilities from the `sklearn.metrics` library
- `classification_report`,
- `confusion_matrix`, and 
- `accuracy_score`

In [ ]:
from sklearn.metrics import (
      classification_report
    , confusion_matrix
    , accuracy_score
)

In [ ]:
print(f' confusion_matrix:\n------------------------\n{confusion_matrix(y_test, predicted_X_test)}\n\n')
print(f' classification_report:\n------------------------\n{classification_report(y_test, predicted_X_test)}\n\n')
print(f' accuracy_score:\n------------------------\n{accuracy_score(y_test, predicted_X_test)}\n\n')

# [W9D2m7](../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D2m7_topic_modeling.ipynb)

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">MODEL EVALUATION</p>

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

### <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#8fca6b; font-size:100%; text-align:left;padding: 0px; border-bottom: 2px solid #8fca6b;">TUNE HYPERPARAMETERS</p>

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">RESULTS</p>

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">DISCUSSION</p>

##### <p style="font-family:JetBrains Mono; text-align:right; padding-right: 10%;">[Top Of Page](#lighthouse-labs-mini-project-v-identifying-duplicate-questions) / [TOC](#table-of-contents)</p>

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">REFERENCES</p>

[W9D1m4]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m4_data_prep_NLP.ipynb)    
[W9D1m5]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m5_NLP_data_preparation_exercise.ipynb)
- [refrences](https://www.datacamp.com/tutorial/simplifying-sentiment-analysis-python)  

[W9D1m8L]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1L_NLP-Pre-Processing_Vectorizing.ipynb')  
[W9D1m8]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m8_representations_bag_of_words.ipynb)  
[W9D1m10]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m10_word2vec_from_google.ipynb)  
[W9D1m12]('../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D1m12_NLP_representations_exercise.ipynb')  
[W9D2m2](../../../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D2m2_sentiment_analysis.ipynb)  
[W9D2m4](../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D2m4_kaggle_sentiment-analysis-airline-tweets.ipynb)  
[W9D2m7](../../../Documents/LHL%20DS%20Bootcamp/Course%20work/W9/W9D2m7_topic_modeling.ipynb)